<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SiriNL</key>
	<dict>
		<key>NLRouter</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>DevelopmentPhase</key>
			<string>FeatureComplete</string>
		</dict>
	</dict>
	<key>Siri</key>
	<dict>
		<key>medoc_hybrid</key>
		<dict>
			<key>DevelopmentPhase</key>
			<string>FeatureComplete</string>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>sae_override</key>
		<dict>
			<key>DevelopmentPhase</key>
			<string>FeatureComplete</string>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>sae_locale_override</key>
		<dict>
			<key>DevelopmentPhase</key>
			<string>FeatureComplete</string>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>sae</key>
		<dict>
			<key>DevelopmentPhase</key>
			<string>FeatureComplete</string>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>scda_proximity</key>
		<dict>
			<key>DevelopmentPhase</key>
			<string>FeatureComplete</string>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>scda_framework</key>
		<dict>
			<key>DevelopmentPhase</key>
			<string>FeatureComplete</string>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>asr_adopting_uaf</key>
		<dict>
			<key>DevelopmentPhase</key>
			<string>FeatureComplete</string>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>patient_siri</key>
		<dict>
			<key>DevelopmentPhase</key>
			<string>FeatureComplete</string>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>uod_asr_on_server_enabled</key>
		<dict>
			<key>DevelopmentPhase</key>
			<string>FeatureComplete</string>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>use_flow_runtime</key>
		<dict>
			<key>DevelopmentPhase</key>
			<string>FeatureComplete</string>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>lasso</key>
		<dict>
			<key>DevelopmentPhase</key>
			<string>FeatureComplete</string>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>caballero</key>
		<dict>
			<key>DevelopmentPhase</key>
			<string>FeatureComplete</string>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>FileARadar</key>
		<dict>
			<key>DevelopmentPhase</key>
			<string>FeatureComplete</string>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>medoc</key>
		<dict>
			<key>DevelopmentPhase</key>
			<string>FeatureComplete</string>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>suggestions</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>assistant_engine</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>DevelopmentPhase</key>
			<string>FeatureComplete</string>
		</dict>
		<key>NanoSiriUIRefresh</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>force_uod_enabled_for_device</key>
		<dict>
			<key>DevelopmentPhase</key>
			<string>FeatureComplete</string>
			<key>Enabled</key>
			<true/>
		</dict>
	</dict>
	<key>Kettle</key>
	<dict>
		<key>SensitiveUI</key>
		<dict>
			<key>DevelopmentPhase</key>
			<string>FeatureComplete</string>
			<key>Enabled</key>
			<true/>
		</dict>
	</dict>
	<key>IntelligenceFlow</key>
	<dict>
		<key>IntelligenceFlow</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>DevelopmentPhase</key>
			<string>FeatureComplete</string>
		</dict>
	</dict>
	<key>SiriUI</key>
	<dict>
		<key>sae</key>
		<dict>
			<key>DevelopmentPhase</key>
			<string>FeatureComplete</string>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>sae_override</key>
		<dict>
			<key>DevelopmentPhase</key>
			<string>FeatureComplete</string>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>Pym</key>
		<dict>
			<key>DevelopmentPhase</key>
			<string>FeatureComplete</string>
			<key>Enabled</key>
			<true/>
		</dict>
	</dict>
	<key>GenerativePlayground</key>
	<dict>
		<key>App</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>Messages</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
	</dict>
	<key>GenerativeModels</key>
	<dict>
		<key>GenerativeModelsAvailability</key>
		<dict>
			<key>DevelopmentPhase</key>
			<string>FeatureComplete</string>
			<key>Enabled</key>
			<true/>
		</dict>
	</dict>
	<key>Oneness</key>
	<dict>
		<key>App</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>DragAndDrop</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>Accessibility</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>Shell</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
	</dict>
	<key>Sharing</key>
	<dict>
		<key>oneness_unlock</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>oneness_approve</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>authentications</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
	</dict>
	<key>WritingTools</key>
	<dict>
		<key>Panel_iOS</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
	</dict>
	<key>DigitalSeparation</key>
	<dict>
		<key>oneness</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
	</dict>
	<key>SpringBoard</key>
	<dict>
		<key>OnenessHomeScreenEditing</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>Oneness</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>SAETappyHomeAffordance</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>DevelopmentPhase</key>
			<string>FeatureComplete</string>
		</dict>
		<key>Twoness</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>DevelopmentPhase</key>
			<string>FeatureComplete</string>
		</dict>
	</dict>
	<key>SettingsApp</key>
	<dict>
		<key>Oneness</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>SettingsUndo</key>
		<dict>
			<key>DevelopmentPhase</key>
			<string>FeatureComplete</string>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>ModernApplication</key>
		<dict>
			<key>DevelopmentPhase</key>
			<string>FeatureComplete</string>
			<key>Enabled</key>
			<true/>
		</dict>
	</dict>
	<key>VirtualAudio</key>
	<dict>
		<key>Oneness</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
	</dict>
	<key>UserNotifications</key>
	<dict>
		<key>Oneness</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
